{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Container Dimensions</h1>
<form method="post" id="select_type">
    <label for="paramtype">Load or Generate Dispatch?</label>
    <select id="paramtype" name="holaa" class="form-control" style="width:20%">
         <option disabled selected value> -- select an option -- </option>
        <option value="load"> Load from saved items</option>
        <option value="generate">Generate new container schema</option>
    </select>
</form>

<form id="numBoxesForm"></form>
<form id="paramForm" action="{{url_for('container')}}" method="post"></form>

<script>
    document.getElementById('paramtype').onchange = function(){
        let type = document.getElementById('paramtype').value;
        if(type=="load"){
            document.getElementById("numBoxesForm").innerHTML="";
            load_items();
        }else{
            document.getElementById("paramForm").innerHTML="";
            container_params();
            }

        };


    function load_items(){
        optionHTML = '<label for="load_schema">Select Dispatch</label><br>';
        optionHTML += '<select id = "load_schema" name ="savedSchemas" class="form-control" style="width: 20%">';
        optionHTML += '<option disabled selected value> -- select an option -- </option>'
        {% for sch in dispatches %}
            optionHTML += '<option value="{{sch.body}}"> {{sch.name}}</option>';
        {% endfor %}
        optionHTML += '</select><br>';
        optionHTML += '<input name="submitload" type="submit" value="Select" class="btn btn-primary">';

        document.getElementById('paramForm').innerHTML = optionHTML;

    };



    function container_params(){
        optionHTML = '<br><label for = "containerX">Container width (x)</label>';
        optionHTML += '<input type="number" name="containerX" class="form-control" style="width:10%"><br>';

        optionHTML += '<label for = "containerY">Container depth (y)</label>';
        optionHTML += '<input type="number" name="containerY" class="form-control" style="width:10%"><br>';

        optionHTML += '<label for = "container>">Container height (z)</label>';
        optionHTML += '<input type="number" name="containerZ" class="form-control" style="width:10%"><br><br>';
        optionHTML += '<input type="submit" value="Submit" name="submitnew" class="btn btn-primary">'

        document.getElementById('paramForm').innerHTML = optionHTML;
    };

</script>
{% endblock %}